html, body {
   font-family: 'Raleway', sans-serif;
}

body {
   padding: 0;
   margin: 0;
}

#page {
   height: 100vh;
   width: 100%;
   overflow: hidden;
}

.page-color {
   background-color: #fff05a;
   margin: 0;

}

.left-panel {
   background-color: #fff05a;
   width: 50%;
   height: 100%;
   float: left;
   display: none;
}

.right-panel {
   background-color: #80475e;
   width: 50%;
   height: 100%;
   float: left;
   display: none;
}

.player-panel p {
   margin-top: 30%;
   font-size: 15px;
   color: #ffaa5a;
   font-weight: 700;
}

.player-panel h1 {
   font-size: 60px;
   color: #80475e;
   font-weight: 800;
}

.turn {
   margin: 10% 30%;  
}

.current-turn {
   width: 50%;
   margin: 0 auto;
   float: left;
}

.current-turn p {
   font-size: 13px;
}

.current-turn span {
   color: #80475e;
   font-size: 19px;
}

.right-panel .player-panel h1 {
   color: #fff05a;
}

.right-panel .player-panel .current-turn span {
   color: #fff05a;
}

.right-panel .player-panel .d-btn  {
   background-color: #ffaa5a;
   border: none;
   padding: 7px 18px;
   color: #80475e;
   font-weight: 700;
   box-shadow: 0 2px 10px 4px;
   position: absolute;
   top: 80%;
   left: 50%;
}

.d-btn {
   background-color: #80475e;
   border: none;
   padding: 7px 18px;
   color: #ffaa5a;
   font-weight: 700;
   box-shadow: 0 2px 10px 4px;
   position: absolute;
   top: 80%;
   left: 44.7%;
   z-index: 3;
}

.d-btn:active {
   z-index: 0;
   box-shadow: none;
}

.dice-img{
   position: absolute;
   top: 47%;
   left: 47.5%;
   width: 70px;
   height: 70px;
   -webkit-filter: drop-shadow(2px 3px 5px #80475e);
   filter: drop-shadow(2px 2px 5px #80475e);
   padding: 5px;
   display: none;
}

#new-btn {
   background-color: #34344a;
   border: none;
   padding: 7px 15px;
   color: #ffaa5a;
   font-weight: 700;
   box-shadow: 0 2px 10px 1px #34344a;
   position: absolute;
   top: 10%;
   left: 46.5%;
   z-index: 3;
   font-size: 12px;
   display: none;  
}

#new-btn:active {
   z-index: 0;
   box-shadow: none;
}

.panel-inactive {
   background:url(https://www.google.com.au/logos/2013/maria_sibylla_merians_366th_birthday_-1256008-hp.jpg);
   width:50%;
   height:100%;
   background-size:200% 100%;
   position:relative;

   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   -o-filter: grayscale(100%);
   filter: url(grayscale.svg); 
   filter: gray; 
}

.input {
   width: 50%;
   margin: 16% auto;
}

.input input {
   display: block;
   background-color: transparent;
   border-width: 0 0 2px 0;
   outline: none;
   outline-style: none;
   padding: 8px 10px;
   width: 60%;
   margin: 10px auto;
}

.new-game {
   width: 36%;
   margin: 20px auto;
   font-weight: 700;
}

#start-game {
   background-color: #80475e;
   color: #fff05a;
   font-size: 13px;
   padding: 8px 14px;
   margin: 10px auto;
   border: none;
   z-index: 4;
   box-shadow: 1px 1px 7px 0 #80475e;
}

#game-rules {
   background-color: transparent;
   color: #80475e;
   font-size: 13px;
   padding: 6px 12px;
   margin: 10px auto;
   border: 2px solid #80475e;
   box-sizing: border-box;
   z-index: 4;
   box-shadow: 1px 1px 7px 0 #80475e;
}

#start-game:active, #game-rules:active {
   z-index: 0;
   box-shadow: none;
}

#playername, #playername2 {
   text-transform: uppercase;
}

.winner {
   font-size: 35px;
   color: #34344a;
   margin: 35% auto;
   width: 36%;
   line-height: 1.5;
}